* {
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
}

.title{
   text-align: center;
   font-size: 2.5rem;
}


.calculator{
   margin-top: 2vh;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid black;
   border-radius: 3%;
   width: 40vw;
   height: 80vh;
}

.display {
   position: relative;
   margin-top: 2vh;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid black;
   width: 95%;
   height: 15%;
}

.display .display-content {
   position: absolute;
   right: 5px;
   bottom: 0px;
   text-align: right;
   font-size: 6.5rem;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   height: 80%;
   border: 1px solid black;
}

.buttons button {
   border: 1px solid gray;
   background-color: transparent;
   padding: 0;
}

.buttons button:hover {
   background: lightgray;
}